body{
	background-color: black;
}

a{
	text-decoration: none;
	list-style: none;
}

li{
	text-transform: uppercase;
	display: inline-block;
	padding: 2% 0%;
	margin-left: 29px;
	font-family: 'Marcellus SC', serif;
}

ul{
	padding: 0%;
}

h1{
	font-family: 'Marcellus SC', serif;
	margin: 0;
}

.navbar{
	background-color: #3A2E28;
	position: static;
}

.navbar-brand{
	margin-top: 18px;
	font-size: 1em;
}

.pl-20{
	padding-left: 20%;
}

.cl-effect-2 a span {
	position: relative;
	display: inline-block;
	padding: 0;
	color: #fff;
	font-weight: 400;
 	font-size: 20px;
	background: none !important;
	-webkit-transition: -webkit-transform 0.3s;
	-ms-transition: -webkit-transform 0.3s;
	-o-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	color: #fff;
}

.cl-effect-2 a span::before {
	position: absolute;
	text-align: center;
	top: 100%;
	left: 0;
	width: 100%;
	font-size: 17px;
	font-weight: 600;
	color:#3A2E28;
	padding-top: 15px;
	padding-bottom: 17px;
	z-index:999;
	background: #fff;
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
	-o-transform: rotateX(90deg) translateY(-22px);
	-ms-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
	color: #fff;
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
	background: none;
	color:#fff !important;
}